{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <meta charset="UTF-8">
    <title>OpenShow Editor</title>
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    <style id="slide-style" hx-swap-oob="true">
    </style>
    <style id="display-style" hx-swap-oob="true">
        {{ display.custom_css }}
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>