{% extends 'core/base.html' %}

{% load static %}
{% load icon %}

{% block title %}
    Editing {{ deck.name }} - OpenShow
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <link rel="stylesheet" href="{% static 'editor/editor-extras.css' %}">
{% endblock %}

{% block header %}
    <h1>{{ deck.name }}</h1>
{% endblock %}

{% block header_right_button %}
    <a href="{% url 'import-images-to-deck' pk=deck.pk %}" title="Import Images to Deck"><svg
   viewBox="0 0 24 24"
   width="24"
   height="24"
   class="main-grid-item-icon"
   fill="none"
   stroke="currentColor"
   stroke-linecap="round"
   stroke-linejoin="round"
   stroke-width="2"
   version="1.1"
   id="svg1"
   sodipodi:docname="icon-many-images-2.svg"
   inkscape:version="1.4 (e7c3feb100, 2024-10-09)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:zoom="36.666667"
     inkscape:cx="12"
     inkscape:cy="12"
     inkscape:window-width="1805"
     inkscape:window-height="1131"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg1" />
  <defs
     id="defs1" />
  <g
     id="g3"
     transform="matrix(1.6235231,0,0,1.6235231,-2.7527565,-7.5963118)">
    <g
       id="g1"
       transform="matrix(0.74436145,0,0,0.74436145,0.14838963,3.0856183)">
      <rect
         height="11.752888"
         rx="1.3058764"
         ry="1.3058764"
         width="11.752888"
         x="9.5941744"
         y="9.5941744"
         id="rect1"
         style="stroke-width:1.30588" />
      <circle
         cx="13.185334"
         cy="13.185334"
         r="0.97940731"
         id="circle1"
         style="stroke-width:1.30588" />
      <polyline
         points="21 15 16 10 5 21"
         id="polyline1"
         transform="matrix(0.6529382,0,0,0.6529382,7.6353596,7.6353596)" />
    </g>
    <g
       id="g2"
       transform="matrix(0.74436145,0,0,0.74436145,-5.0060971,-1.9766044)">
      <path
         style="stroke-width:1.30588"
         d="m 12.948768,21.347062 h -2.048717 c -0.723456,0 -1.3058766,-0.582421 -1.3058766,-1.305876 v -9.141135 c 0,-0.723456 0.5824206,-1.3058766 1.3058766,-1.3058766 h 9.141135 c 0.723455,0 1.305876,0.5824206 1.305876,1.3058766 v 1.847882"
         id="path5" />
      <path
         style="stroke-width:1.30588;stroke-linecap:butt;stroke-miterlimit:4"
         d="m 13.185334,14.164742 c -0.540912,0 -0.979407,-0.438496 -0.979407,-0.979408 0,-0.540911 0.438496,-0.979407 0.979407,-0.979407 0.540912,0 0.979408,0.438495 0.979408,0.979407"
         id="path1" />
      <path
         d="M 7.8599351,18.140065 5,21"
         transform="matrix(0.6529382,0,0,0.6529382,7.6353596,7.6353596)"
         id="path4" />
    </g>
    <path
       style="stroke-width:0.972047"
       d="M 7.2741248,16.43521 H 5.6847241 c -0.5385128,0 -0.9720442,-0.433531 -0.9720442,-0.972043 V 8.6588582 c 0,-0.5385127 0.4335314,-0.9720442 0.9720442,-0.9720442 h 6.8043089 c 0.538512,0 0.972043,0.4335315 0.972043,0.9720442 v 1.5425758"
       id="rect1-0" />
    <path
       style="stroke-width:0.972047;stroke-linecap:butt"
       d="m 7.3858008,11.088968 c -0.4026338,0 -0.729033,-0.326399 -0.729033,-0.729033 -1e-7,-0.4026339 0.3263991,-0.7290332 0.729033,-0.7290332 0.4026339,0 0.7290332,0.3263993 0.7290331,0.7290332"
       id="path2" />
    <path
       d="m 7.2876747,14.83226 -1.602951,1.60295"
       id="path3"
       style="stroke-width:0.972044" />
  </g>
</svg></a>
    <a href="{% url 'delete-deck' deck.pk %}" class="icon-button" aria-label="Edit {{ deck.name }}">{% icon 'trash-2' %}</a>
{% endblock %}

{% block header_left_button %}
    <a href="{% url 'deck' deck.pk %}" class="icon-button" aria-label="Back to {{ deck.name }}">{% icon 'arrow-left' %}</a>
{% endblock %}

{% block main %}
    <div id="view-container" class="sidebar-layout single">
        <div class="mobile-hidden box">
            <ul class="slides-sidebar" id="slides-sidebar">
                {% for slide in deck.slides.all %}
                    <form
                        class="dragbox"
                        hx-post="{% url 'reorder-slide' %}"
                        hx-swap="outerHTML"
                        hx-trigger="drop"
                        hx-select=".slides-sidebar"
                        hx-target=".slides-sidebar"
                        _="
                        on dragover or dragenter call event.preventDefault() then add .dragover to me
                        on dragleave remove .dragover from me
                    ">
                        {% csrf_token %}
                        <input type="hidden" name="deck_or_segment_pk" value="{{ deck.pk }}">
                        <input type="hidden" name="next_slide_pk" value="{{ slide.pk }}">
                        <input type="hidden" name="moved_slide_pk" class="movedslide">
                    </form>
                    <li class="slide-thumbnail"
                        data-slide-pk="{{ slide.pk }}"
                        _="on dragstart
                        call event.dataTransfer.setData('text/plain',target) {# don't know why, drop event never fires unless something is set here #}
                        then set @value of <input[name='moved_slide_pk']/> to my @data-slide-pk"
                    >
                        <a
                                href="{% url 'edit-slide' pk=slide.pk %}"
                                title="Edit this slide"
                                hx-get="{% url 'edit-slide' pk=slide.pk %}"
                                hx-swap="morph:outerHTML"
                                hx-select="#view-container"
                                hx-target="#view-container"
                                hx-push-url="true"
                                draggable="true"
                        >
                            {% include "slides/slide-thumbnail.html" with slide=slide %}
                        </a>
                    </li>
                {% endfor %}
                    <form
                        class="dragbox"
                        hx-post="{% url 'reorder-slide' %}"
                        hx-swap="outerHTML"
                        hx-trigger="drop"
                        hx-select=".slides-sidebar"
                        hx-target=".slides-sidebar"
                        _="
                        on dragover or dragenter call event.preventDefault() then add .dragover to me
                        on dragleave remove .dragover from me
                    ">
                        {% csrf_token %}
                        <input type="hidden" name="deck_or_segment_pk" value="{{ deck.pk }}">
                        {# don't sent next_slide as this is the end #}
                        <input type="hidden" name="moved_slide_pk" class="movedslide">
                    </form>
                <li>
                    <form>
                        {% csrf_token %}
                        <input type="hidden" name="deck" value="{{ deck.pk }}">
                        <button
                                hx-post="{% url 'new-slide' %}"
                                title="New slide"
                                hx-swap="morph:outerHTML"
                                hx-select="#view-container"
                                hx-target="#view-container"
                                hx-push-url="true"
                        >
                            New Slide
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    {% block editor-right %}
        <div id="editor-right" class="deck">
            <div id="aoml-buttons">
                <button
                        hx-get="{% url 'push-deck-text' deck.pk %}"
                        hx-select="#view-container"
                        hx-target="#view-container"
                        hx-swap="outerHTML"
                        title="Push AOML to slides"
                >
                    {% icon 'arrow-left' %}
                </button>
                <button
                        hx-get="{% url 'pull-aoml-text' deck.pk %}"
                        hx-select="#view-container"
                        hx-target="#view-container"
                        hx-swap="outerHTML"
                        title="Push AOML to slides"
                >
                    {% icon 'arrow-right' %}
                </button>
            </div>
            <form
                    hx-trigger="change throttle:2s"
                    hx-post="{% url 'edit-deck' deck.pk %}"
                    hx-swap="outerHTML"
                    hx-select="#view-container"
                    hx-target="#view-container"
                    class="deck-form"
            >
                {% csrf_token %}
                <div class="double-box-container">
                <fieldset class="box">
                    <strong class="titlebar block">General Options</strong>
                    <label class="block">Deck Name: {{ form.name }}</label>
                    <label class="block">Theme: {{ form.theme }}</label>
                    <label class="block">Default Transition: {{ form.default_transition }}</label>
                    <label class="block">Default Transition Duration: {{ form.default_transition_duration }}</label>
                </fieldset>
                <fieldset class="box">
                    <strong class="titlebar block">Auto Advance Options</strong>
                    <label class="block">Auto Advance {{ form.default_auto_advance }}</label>
                    <label class="block">Advance In Loop (only when not in a show) {{ form.advance_in_loop }}</label>
                    <label class="block">Auto Advance Duration {{ form.default_auto_advance_duration }}</label>
                </fieldset>
                </div>
                <div class="box aoml-editor">
                    <strong class="titlebar block">AOML Slide Text</strong>
                    {{ form.slide_text_markup }}
                </div>
                {{ form.errors }}
            </form>
        </div>
    {% endblock %}
</div>
{% include 'editor/spinner.html' %}
{% endblock %}