{% extends 'editor/base.html' %}

{% load static %}
{% load icon %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <style>
        {{ deck.theme.css }}
    </style>
{% endblock %}

{% block content %}
    <div id="show-editor" class="show-editor" data-deck-pk="{{ deck.pk }}">
        <navbar class="navbar">
            <a href="{% url 'editor_index' %}"><button>{% icon 'arrow-left' %}</button></a>
            <h1>{{ deck.name }}</h1>
        </navbar>
        <ul class="slides-sidebar">
            {% for slide in deck.slides.all %}
                <li class="slide-thumbnail"
                    hx-get="{% url 'edit-slide' pk=slide.pk %}"
                    hx-swap="outerHTML"
                    hx-select="#editor"
                    hx-target="#editor">
                    {% include "slides/slide.html" with slide=slide %}
                </li>
            {% endfor %}
            <li>
                <form method="post" action="{% url 'new-slide' %}">
                    {% csrf_token %}
                    <input type="hidden" name="deck" value="{{ deck.pk }}">
                    <input type="submit" value="New Slide">
                </form>
            </li>
        </ul>
        <div class="slide-preview" id="preview">
            <div id="slide" class="slide">
                <div class="words">
                    No Slide Loaded
                </div>
            </div>
        </div>
        <div class="slide-editor" id="editor">
            <form method="post" action="{% url 'edit-deck' deck.pk %}">
                {% csrf_token %}
                {{ form.name }}
                {{ form.theme }}
                {{ form.errors }}
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}