{% extends 'editor/base.html' %}

{% load static %}
{% load icon %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <style>
        {{ deck.theme.css }}
    </style>
{% endblock %}

{% block title %}Editing {{ deck.name }} - OpenShow{% endblock %}

{% block content %}
    <div id="show-editor" class="show-editor" data-deck-pk="{{ deck.pk }}">
        <navbar class="navbar">
            <a href="{% url 'deck' pk=deck.pk %}"><button>{% icon 'arrow-left' %}</button></a>
            <h1>{{ deck.name }}</h1>
        </navbar>
        <ul class="slides-sidebar">
            {% for slide in deck.slides.all %}
                <form
                    class="dragbox"
                    hx-post="{% url 'reorder-slide' %}"
                    hx-swap="outerHTML"
                    hx-trigger="drop"
                    hx-select=".slides-sidebar"
                    hx-target=".slides-sidebar"
                    _="
                    on dragover or dragenter call event.preventDefault() then add .dragover to me
                    on dragleave remove .dragover from me
                ">
                    {% csrf_token %}
                    <input type="hidden" name="deck_or_segment_pk" value="{{ deck.pk }}">
                    <input type="hidden" name="next_slide_pk" value="{{ slide.pk }}">
                    <input type="hidden" name="moved_slide_pk" class="movedslide">
                </form>
                <li class="slide-thumbnail"
                    hx-get="{% url 'edit-slide' pk=slide.pk %}"
                    hx-swap="outerHTML"
                    hx-select="#editor"
                    hx-target="#editor"
                    draggable="true"
                    data-slide-pk="{{ slide.pk }}"
                    _="on dragstart
                    call event.dataTransfer.setData('text/plain',target) {# don't know why, drop event never fires unless something is set here #}
                    then set @value of <input[name='moved_slide_pk']/> to my @data-slide-pk"
                >
                    {% include "slides/slide.html" with slide=slide %}
                </li>
            {% endfor %}
                <form
                    class="dragbox"
                    hx-post="{% url 'reorder-slide' %}"
                    hx-swap="outerHTML"
                    hx-trigger="drop"
                    hx-select=".slides-sidebar"
                    hx-target=".slides-sidebar"
                    _="
                    on dragover or dragenter call event.preventDefault() then add .dragover to me
                    on dragleave remove .dragover from me
                ">
                    {% csrf_token %}
                    <input type="hidden" name="deck_or_segment_pk" value="{{ deck.pk }}">
                    {# don't sent next_slide as this is the end #}
                    <input type="hidden" name="moved_slide_pk" class="movedslide">
                </form>
            <li>
                <form method="post" action="{% url 'new-slide' %}">
                    {% csrf_token %}
                    <input type="hidden" name="deck" value="{{ deck.pk }}">
                    <input type="submit" value="New Slide">
                </form>
            </li>
        </ul>
        <div class="slide-preview" id="preview">
            <div id="slide" class="slide">
                <div class="words">
                    No Slide Loaded
                </div>
            </div>
        </div>
        <div class="slide-editor" id="editor">
            <form method="post" action="{% url 'edit-deck' deck.pk %}">
                {% csrf_token %}
                {{ form.name }}
                {{ form.theme }}
                {{ form.default_transition }}
                {{ form.default_transition_duration }}
                <fieldset>
                    <label>Auto Advance</label>
                    {{ form.default_auto_advance }}
                    <label>Auto Advance Duration</label>
                    {{ form.default_auto_advance_duration }}
                </fieldset>
                <fieldset>
                    <label>Script</label>
                    {{ form.script }}
                </fieldset>
                <fieldset>
                    <label>AOML Slide Text</label>
                    {{ form.slide_text_markup }}
                </fieldset>
                {{ form.errors }}
                <input type="submit">
            </form>
            <a href="{% url 'push-deck-cues' deck.pk %}">
                Push Cues
            </a>
            <a href="{% url 'push-deck-text' deck.pk %}">
                Push Slide Text
            </a>
        </div>
    </div>
{% endblock %}