{% extends edit_show_or_deck_template %}

{% load static %}
{% load srcdoc %}
{% load icon %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'editor/slide-editor.css' %}">
{% endblock %}

{% block header_left_button %}
    <a href="{% url 'edit-deck' deck.pk %}" class="icon-button" aria-label="Back to editing {{ deck.name }}">{% icon 'arrow-left' %}</a>
{% endblock %}

{% block editor-right %}
    <div id="editor-right" class="slide">
        <div class="box">
            <strong class="titlebar block">Slide Editor/Preview</strong>
            <div id="preview" class="slide-thumbnail no-hover" data-slide-pk="{{ slide.pk }}">
                <iframe scrolling="no" class="slide" src="{% url 'slide-wysiwyg' slide.pk %}"></iframe>
            </div>
        </div>
        <div class="box slide-options">
            <strong class="titlebar block">Slide Options</strong>
            form
        </div>
    </div>
{% endblock %}

{{ deck.pk }}