{% extends 'editor/base.html' %}
{% load icon %}
{% block content %}
    <div id="editor" data-slide-pk="{{ slide.pk }}">
{#        <ul class="sidebar">#}
{#            {% for slide in slide.segment.slides.all %}#}
{#                <li>#}
{#                    <a href="{% url 'edit-slide' pk=slide.pk %}">{{ slide.pk }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
        <button hx-get="{% url 'delete-slide' pk=slide.pk %}" hx-swap="outerHTML">Delete Slide</button>
        <form method="post" action="{% url 'edit-slide' slide.pk %}">
            {% csrf_token %}
            {{ form.transition }}
            {{ form.transition_duration }}
            <fieldset>
                <label>Auto Advance</label>
                {{ form.auto_advance }}
                <label>Auto Advance Duration</label>
                {{ form.auto_advance_duration }}
            </fieldset>
            <fieldset>
                <label>Order</label>
                {{ form.order }}
            </fieldset>
{#            <input type="submit">#}
            <button hx-select="#editor" hx-target="#editor" hx-swap="outerHTML swap:0.1s" hx-post="{% url 'edit-slide' slide.pk %}">Submit</button>
        </form>
        <ul class="segment-list">
            {% for element in slide.get_elements %}
                <li class="element" data-element-order="{{ element.order }}" hx-get="{% url 'edit-element' element.pk %}" hx-swap="outerHTML" hx-target="this">
                    {{ element.body }}
{#                    <button hx-get="{% url 'edit-element' element.pk %}" hx-swap="outerHTML" hx-target="closest li">#}
{#                        Edit Element#}
{#                    </button>#}
                </li>
            {% endfor %}
            <button class="icon-button center" hx-get="{% url 'new-element' %}" hx-swap="outerHTML">
                {% icon "plus" %}
            </button>
        </ul>
    </div>
    <div id="preview" hx-swap-oob="true" data-slide-pk="{{ slide.pk }}">
        {% include 'editor/slide.html' with slide=slide %}
    </div>
{% endblock %}