<li>
    <form method="post" enctype="multipart/form-data" action="{% if action == 'edit' %}{% url 'edit-element' slideelement.pk %}{% else %}{% url 'new-element' %}{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="slide" _="on load set my @value to @data-slide-pk of #editor">
        <div>
            Body
            {{ form.body }}
        </div>
        <div>
            CSS Class
            {{ form.css_class }}
        </div>
        <div {% if action != 'edit' %}class="new-element-order" _="on load if previous <.element/> get @data-element-order of previous <.element/> then put it as an Int into previous_element_order then set @value of <.new-element-order > input/> to previous_element_order + 10 else set @value of <.new-element-order > input/> to 0 end"{% endif %}>
            Element Order
            {{ form.order }}
        </div>
        <div>
            image: {{ form.image }}
        </div>
        <div>
            video: {{ form.video }}
        </div>
        <button hx-post="{% if action == 'edit' %}{% url 'edit-element' slideelement.pk %}{% else %}{% url 'new-element' %}{% endif %}"
                             hx-select="#editor"
                hx-target="#editor" hx-swap="outerHTML" hx-encoding="multipart/form-data">Submit</button>
    </form>
    {% if action == 'edit' %}
        <button hx-trigger="click" hx-get="{% url 'delete-element' slideelement.pk %}" hx-swap="outerHTML" hx-target="this">Delete</button>
    {% endif %}
</li>