{% load icon %}
<span class="titlebar">Select Video (DEPRECATED)</span>
<form _="on dblclick halt" class="element-form-box">  {# Halt doubleclick events so selecting text in our fields isn't super frustrating #}
    {% csrf_token %}
    {{ form.video.as_field_group }}
    <p>NOTE: This feature is deprecated and will be removed in a future release. Please use Media Objects instead - they are much more reliable!</p>
    <div class="button-group">
        <button _="on click remove <#dialog > */>">
            Cancel
        </button>
        <button
            hx-post="{% url 'edit-element-video' object.pk %}"
            hx-select="#element-{{ object.pk }}"
            hx-target="#element-{{ object.pk }}"
            hx-swap="outerHTML swap:0.1s"
            hx-encoding="multipart/form-data"
            _="on click remove <#dialog > */>"
        >
            Submit
        </button>
    </div>
</form>