{% load icon %}
<form id="form-{{ object.pk }}" class="{{ object.css_class }}">
    {% csrf_token %}
    <div class="grow-wrap">
        <textarea
                id="edit-element-{{ object.pk }}"
                name="body"
                class="editor-editable"
    {#            contenteditable="true"#}
    {#            _="on keyup set offset to document.getSelection() then log offset"#}
                _="
                on input or load
                set <.grow-wrap/>'s @data-replicated-value to my innerHTML
                then log my @text
                then log <.grow-wrap/>'s @data-replicated-value
        "
        >
            {{ object.get_editable_text|safe }}
        </textarea>
    </div>
{#    <input type="hidden" id="element-{{ object.pk }}-body" name="body">#}
    <div class="element-edit-buttons">
        <button
                hx-select="#element-{{ object.pk }}"
                hx-target="#form-{{ object.pk }}"
                hx-swap="outerHTML swap:0.1s"
                hx-post="{% url 'edit-element-text' object.pk %}"
                hx-trigger="hs-submit"
                _="
                def submit_text
{#                    set #element-{{ object.pk }}-body's @value to #edit-element-{{ object.pk }}'s innerHTML#}
                    send 'hs-submit' to me
                end
                on click
                    submit_text()
                end
                on keydown[ctrlKey and key is 'Enter'] from the closest <form/>
                    submit_text()
                end
                on full_submit
                    submit_text()
                end
                "
                type="button"
                class="icon-button element-submit"
                id="submit-element-{{ object.pk }}"
        >
            {% icon 'check' %}
        </button>
    </div>
</form>