{% load static %}
{% load icon %}
<head>
    <link rel="stylesheet" href="{% static 'editor/slide-wysiwyg.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    <script src="{% static 'js/hyperscript.js' %}"></script>
    <script src="{% static 'js/htmx.js' %}"></script>
    <style>
        {{ slide.get_theme.css }}
    </style>
    <title>Slide {{ slide.pk }}</title>
    <script type="module">
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
</head>
<body>
    {% include 'editor/slide.html' with slide=slide %}
</body>