{% extends "core/base.html" %}
{% load neapolitan %}
{% load icon %}

{% block title %}{{ object.title }} - OpenShow Editor{% endblock %}
{% block header %}<h1>{{ object.title }}</h1>{% endblock %}

{% block header_right_button %}
        <a href="{% url 'mediaobject-update' object.pk %}" class="icon-button" aria-label="Edit {{ object.title }}">{% icon 'edit-2' %}</a>
{% endblock %}

{% block content %}
    {% if object.media_type == "VIDEO" and object.final_file or object.media_type == "AUDIO" and object.final_file %}
        {% if object.media_type == "VIDEO" %}
            <video controls>
                <source src="{{ object.final_file.url }}">
            </video>
        {% elif object.media_type == "AUDIO" %}
            <audio controls src="{{ object.final_file.url }}"></audio>
        {% endif %}
    {% elif object.media_type == "VIMEO_LIVE_EMBED" %}
        {% include object.get_slide_element_template with media_object=object %}
    {% else %}
        <p>This Media Object is still transcoding. Please reload the page in a few minutes.</p>
    {% endif %}
    <p>
        <b>Type:</b> {{ object.get_media_type_display }}
    </p>
{% endblock %}
