{% extends 'editor/base.html' %}

{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <style>
        {{ show.theme.css }}
    </style>
{% endblock %}

{% block content %}
    <div id="show-editor" class="show-editor" data-show-pk="{{ show.pk }}" data-next-segment-order="{{ show.next_segment_order }}">
        <span class="navbar">
            <h1>{{ show.name }}</h1>
        </span>
        <ul class="slides-sidebar">
            {% for segment in show.segments.all %}
                <li class="show-segment">
                    <h2>{{ segment.name }}<button hx-get="{% url 'edit-segment' segment.pk %}" hx-select="#editor" hx-target="#editor" hx-swap="outerHTML">Edit</button></h2>
                    {% if segment.included_deck %}
                        <h4>Deck: {{ segment.included_deck.name }}</h4>
                    {% endif %}
                    <ul>
                        {% for slide in segment.slides.all %}
                            <li class="slide-thumbnail"
                                hx-get="{% url 'edit-slide' pk=slide.pk %}"
                                hx-swap="outerHTML"
                                hx-select="#editor"
                                hx-target="#editor">
                                {% include "slides/slide.html" with slide=slide %}
                            </li>
                        {% endfor %}
                        <li>
                            <form method="post" action="{% url 'new-slide' %}">
                                {% csrf_token %}
                                <input type="hidden" name="segment" value="{{ segment.pk }}">
                                <input type="submit" value="New Slide">
                            </form>
                        </li>
                    </ul>
                </li>
            {% endfor %}
            <li>
                <button hx-get="{% url 'new-segment' %}" hx-swap="outerHTML">
                    New Segment
                </button>
            </li>
        </ul>
        <div class="slide-preview" id="preview">
            <div id="slide" class="slide">
                <div class="words">
                    No Slide Loaded
                </div>
            </div>
        </div>
        <div class="slide-editor" id="editor">
            <button hx-get="{% url 'set-theme' show.pk %}" hx-swap="outerHTML">Set Theme</button>
        </div>
    </div>
{% endblock %}