{% load icon %}
<div id="slide" class="slide">
    {% for element in slide.get_elements %}
        <div class="{{ element.css_class }} editor-element" hx-trigger="dblclick" hx-get="{% url 'edit-element-text' pk=element.pk %}" hx-swap="outerHTML" id="element-{{ element.pk }}">
            {% if element.body %}
                {{ element.body|safe }}
            {% elif element.video %}
                <i class="hint">Video: {{ element.video }}</i>
            {% elif not element.image %}
                <i class="hint">Double-click to edit</i>
            {% endif %}
            {% if element.image %}
                <img src="{{ element.image.url }}">
            {% endif %}
            <nav class="element-action-button-container">
                <button hx-get="{% url 'delete-element' pk=element.pk %}">{% icon 'trash-2' %}</button>
                <button hx-get="{% url 'edit-element-css-class' pk=element.pk %}">{% icon 'pen-tool' %}</button>
                <button hx-get="{% url 'edit-element-image' pk=element.pk %}" class="{% if element.image %}green{% endif %}">{% icon 'image' %}</button>
                <button hx-get="{% url 'edit-element-video' pk=element.pk %}" class="{% if element.video %}green{% endif %}">{% icon 'video' %}</button>
            </nav>
        </div>
    {% endfor %}
</div>