{% extends 'editor/base.html' %}

{% load static %}
{% load icon %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'editor/editor.css' %}">
{% endblock %}

{% block content %}
    <div id="transition-editor" class="show-editor" data-transition-pk="{{ transition.pk }}">
        <span class="navbar">
            <a href="{% url 'slides-index' %}"><button>{% icon 'arrow-left' %}</button></a>
            <h1>{{ transition.name }}</h1>
        </span>
        <ul class="slides-sidebar">
            {% for transition in transition_list %}
                <a href="{% url 'edit-transition' transition.pk %}">
                    <li class="theme-in-sidebar">
                        <h3>
                            {{ transition.name }}
                        </h3>
                    </li>
                </a>
            {% endfor %}
            <button class="icon-button" hx-get="{% url 'new-transition' %}" hx-swap="outerHTML">
                {% icon 'plus' %}
            </button>
        </ul>
        <div id="preview">
            Not Yet Implemented
        </div>
        <div id="editor" class="editor keyframes">
            <ul data-keyframe-out="">
                <h2>Keyframes (Incoming Slide)</h2>
                {% for keyframe in transition.get_keyframes_in %}
                    <li>
                        <span>
                            {{ keyframe.marker }}
                            <button class="icon-button right" hx-swap="outerHTML" hx-get="{% url 'edit-keyframe' keyframe.pk %}" hx-target="closest li">
                                {% icon "edit" %}
                            </button>
                        </span>
                        <span class="code">
                            {{ keyframe.css }}
                        </span>
                    </li>
                {% endfor %}
                <button class="icon-button" hx-get="{% url 'new-keyframe' %}" hx-swap="outerHTML">{% icon 'plus' %}</button>
            </ul>
            <ul data-keyframe-out="true">
                <h2>Keyframes (Outgoing Slide)</h2>
                {% if not transition.get_keyframes_out %}
                    <span>
                        If omitted, the outgoing slide will be animated with the reverse of the incoming slide's keyframes.
                    </span>
                {% endif %}
                {% for keyframe in transition.get_keyframes_out %}
                    <li>
                        <span>
                            {{ keyframe.marker }}
                            <button class="icon-button right" hx-swap="outerHTML" hx-get="{% url 'edit-keyframe' keyframe.pk %}" hx-target="closest li">
                                {% icon "edit" %}
                            </button>
                        </span>
                        <span class="code">
                            {{ keyframe.css }}
                        </span>
                    </li>
                {% endfor %}
                <button class="icon-button" hx-get="{% url 'new-keyframe' %}" hx-swap="outerHTML">{% icon 'plus' %}</button>
            </ul>
        </div>
    </div>
{% endblock %}