django==5.1
django-eventstream==5.3.1
daphne==4.1.2
django-colorfield==0.8.0
htmlmin
tinycss2
python-lorem
django-feather
pypjlink
gunicorn
uvicorn
django-environ
django-ninja
django-srcdoc==1.0.1
neapolitan==24.6
django-extensions
django-q2==1.7.2
honcho==2.0.0
python-ffmpeg==2.0.12