django==6.1.1
django-eventstream==5.3.4
daphne==4.2.3
django-colorfield==0.14.0
tinycss2==1.5.1
python-lorem==1.3.0.post3
django-feather==0.3.0
pypjlink==1.1.1
gunicorn==26.2.0
uvicorn==0.53.0
django-environ==0.14.0
django-ninja==1.7.1
django-srcdoc==1.0.2
neapolitan==26.1
django-extensions==4.1
honcho==2.0.0
python-ffmpeg==2.0.12
pyyaml==6.0.3
natsort==8.4.0
opencv-python>4.14.0,<4.15.0
beautifulsoup4>=4.15.0,<4.16.0
requests>=2.34.2,<2.35.0
django-tasks-db==0.13.0
redis==8.1.0
