body {
    --content-height: calc(100dvh - 7.5rem);
    --rhythm: 1rem;
}

header {
    --rhythm: 1.4rem;
}

button {
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
}

.slides-sidebar {
    list-style: none;
    --rhythm: 0;
}

.slides-sidebar.show > .box {
    margin-bottom: 1rem;
    --rhythm: 1rem;
    margin-top: 0;
}

ul.slides:not(#specificity-hack) {
    padding-left: 0;
    display: grid;
    gap: var(--rhythm);
    list-style: none;
}

.slides-sidebar button {
    display: block;
    margin-inline: auto;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
}

.slides-sidebar li {
    margin-inline: auto;
    --display-size-divisor: 8.2;
}

.sidebar-layout.single > * {
    margin-top: 0;
    max-height: var(--content-height);
    overflow: scroll;
}

.dragbox {
    height: 1rem;
    background-color: unset;
    margin-block: 0;
    transition: height, background-color 200ms;
    opacity: 0.7;
    border-radius: 0.25rem;
}

.dragover {
    height: 3rem;
    background-color: #3A7734;
    transition: height, background-color 200ms;
}

#editor-right {
    width: fit-content;
    height: fit-content;
}

#editor-right.deck{
    display: grid;
    grid-template-columns: 4rem 1fr;
    height: var(--content-height);
}

#editor-right.deck > #aoml-buttons {
    height: var(--content-height);
}

#editor-right.deck > #aoml-buttons button {
    height: 50%;
    width: calc(100% - 1rem);
    margin-inline: 0.5rem;
    background: none;
    border: none;
    box-shadow: none;
    transition: background 200ms;
}

#editor-right.deck > #aoml-buttons button:hover {
    background: #a9a9a9;
    transition: background 200ms;
}

#editor-right.show {
    margin-left: var(--rhythm);
}

.double-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rhythm)
}

.double-box-container > *{
    margin-block: 0;
}

.aoml-editor {
    height: 100%;
    margin-top: 0;
}

.aoml-editor textarea {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.deck-form {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--rhythm);
}

.titlebar {
    margin-bottom: -0.5rem;
}

select:not([multiple]) {
    height: 1.5rem;
    line-height: 1.5rem;
    padding-block: 0;
    padding-inline: 0.5rem;
}

select[multiple] {
    min-width: 9rem;
}

input {
    height: 1.5rem;
    line-height: 1.5rem;
    padding-block: 0;
    padding-inline: 0.5rem;
}

input[type=checkbox] {
    width: 1.25rem;
    vertical-align: middle;
    margin: 0;
}

label {
    margin-block: 0.5rem;
}

/*Slide Editor*/

#editor-right.slide {
    display: block;
    margin-left: 1rem;
    width: min-content;
}

#editor-right.slide > .box:first-child {
    margin-top: 0
}

#editor-right.slide > .box {
    width: min-content;
    height: min-content;
}

#editor-right.slide > .box.slide-options {
    width: 100%;
}

#preview {
    --display-size-divisor: 1.8;
    height: calc(1080px / var(--display-size-divisor));
    min-width: calc(1920px / var(--display-size-divisor));
    overflow: clip;
}

#preview .slide {
    pointer-events: all;
}

form.slide-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form.slide-form > * {
    margin-top: 0;
    height: 100%;
}

.selected {
    box-shadow: 0px 0px 15px 1px var(--info-graphical-fg);
}

@keyframes spinner-done-out {
    from {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes spinner-out {
    from {
        transform: translateX(0);
    }
    92% {
        transform: translateX(0);
    }
    to {
        transform: translateX(20rem);
    }
}

.spinner {
    position: fixed;
    bottom: 0;
    right: 0;
    align-self: flex-start;
    display: block;
    width: fit-content;
    transform: translateX(20rem);
    background-color: #0ca67822;
    padding: 1rem 2rem 1rem 1.25rem;
    border-top-left-radius: 1rem;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px 5px #0ca67822;
}

.spinner .active,
.spinner .done {
    opacity: 0;
}

.spinner .active {
    display: none;
}

body:has(.htmx-request) .spinner {
    transform: translateX(0);
    background-color: #fa525222;
    box-shadow: 0 0 5px 5px #fa525222
}

body:not(:has(.htmx-request)) .spinner {
    transform: translateX(20rem);
    animation-name: spinner-out;
    animation-duration: 2s;
    animation-direction: normal;
}

body:has(.htmx-request) .spinner .active {
    opacity: 1;
    display: block;
}

body:has(.htmx-request) .spinner .done {
    display: none;
}

body:has(.htmx-swapping) .spinner .done {
    opacity: 0;
}

body:not(:has(.htmx-swapping)) .spinner .done {
    animation-name: spinner-done-out;
    animation-direction: normal;
    animation-duration: 2s;
}

textarea:not(#specificity-hack)::placeholder,
input:not(#specificity-hack)::placeholder {
    text-align: left;
    color: var(--faded-fg);
    font-style: italic;
}

.keyframe-form textarea {
    font-family: monospace;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.list-no-indent:not(#specificity-hack) {
    padding-left: 0;
}