* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    color: white;
    max-width: 100%;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.center {
    margin-inline: auto;
    margin-block: 0.5rem;
}

.show-editor {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    min-height: 100vh;
    max-height: 100dvh;
    background: #202020;
}

.show-editor > .navbar {
    grid-column: span 2;
    display: grid;
}

h1 {
    color: white;
    margin-inline: auto;
    margin-block: 0.25rem;
}

h2 {
    color: white;
    margin-inline: auto;
    margin-block: 0.25rem;
    text-align: center;
}

.navbar {
    height: 3rem;
    background: #606060;
    border: 3px solid darkgray;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
}

#preview {
    background: #606060;
    overflow: clip;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border: 3px solid darkgray;
    border-radius: 1rem;
}

.slide {
    width: 1920px;
    height: 1080px;
    transform: scale(0.5);
    margin-right: calc(-1920px / 2);
    margin-bottom: calc(-1080px / 2);
    margin-left: calc(calc(100% - calc(1920px / 2)) / 2);
    transform-origin: left top;
    background: black;
    align-self: center;
}

.slides-sidebar {
    grid-row: span 2;
    background: #606060;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: 3px solid darkgray;
    border-radius: 1rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

.slide-thumbnail {
    height: 1080px;
}

.show-segment {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 30px;
    background: #808080;
    border: 3px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    list-style: none;
}

.show-segment > ul {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.slides-sidebar > li:last-child,
.show-segment > ul > li:last-child,
.show-segment > ul form {
    display: inline;
    margin: auto;
}



.segment-title {
    color: white;
    font-size: 1.2rem;
    word-wrap: anywhere;
}

.slides-sidebar fieldset,
.theme-in-sidebar {
    background: #404040;
    border: 3px solid darkgray;
    border-radius: 0.5rem;
    min-height: 3rem;
    padding: 0.5rem;
}

.slides-sidebar fieldset {
    display: flex;
    flex-direction: column;
}

ul > a {
    color: white;
    text-decoration: none;
}

#editor {
    background: #606060;
    border: 3px solid darkgray;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#editor ul {
    list-style: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#editor ul > li {
    color: white;
    font-size: 1.5rem;
    background: #404040;
    margin-bottom: 0.5rem;
    border: 3px solid darkgray;
    border-radius: 0.5rem;
    min-height: 3rem;
    transition: height 0.3s;
    padding: 1rem;
}

#editor ul > li > form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;
}

#editor.keyframes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#editor.keyframes ul {
    text-align: center;
}

#editor.keyframes ul li {
    text-align: left;
}

#editor.keyframes ul li > span {
    display: flex;
}

.code {
    font-family: monospace;
    font-size: 1.2rem;
}