/* CSS Specific to the WYSIWYG slide editor */

.editor-editable {
    outline: 4px solid red;
    font-size: unset;
    overflow: unset;
    height: unset;
    text-align: unset;
    background: transparent;
}

.element-edit-buttons {
    scale: 3;
    width: fit-content;
    position: absolute;
    right: 50px;
}

.editor-element {
    min-height: 2rem;
    position: relative;
}

.editor-element .hint {
    opacity: 0.75;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    color: #f1f1f1;
}

.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
    color: unset;
}

.grow-wrap > textarea,
.grow-wrap::after {
    outline: 4px solid red;
    border: none;
    padding: 0;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}

/*Thanks to https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ for grow-wrap*/

.element-action-button-container {
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    height: min-content;
    text-shadow: none;
}

.element-action-button-container > * {
    display: inline;
    margin-bottom: 1rem;
}

.element-action-button-container:has(form),
.editor-element:hover .element-action-button-container {
    display: block;
}

.element-action-button-container form > * {
    display: inline;
    width: unset;
    vertical-align: middle;
    height: 4rem;
    font-size: 3rem;
}

.element-action-button-container button {
    height: 4rem;
    width: 4rem;
}

.element-action-button-container button svg {
    height: 3rem;
    width: 3rem;
}

.element-action-button-container .element-form-box {
    background: #606060;
    border: 6px solid darkgray;
    border-radius: 2rem;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    text-align: left;
}

.element-action-button-container .element-form-box * {
    font-size: 2rem;
}

.element-action-button-container .element-form-box input[type=checkbox] {
    height: 2rem;
    width: 2rem;
}

.element-action-button-container.new {
    position: absolute;
    display: initial;
    bottom: 1rem;
    right: 1rem;
    top: unset;
    left: unset;
}

#dialog > .titlebar {
    margin-inline: calc(0px - 1rem);
    margin-block-end: calc(0px - 1rem);
    padding-inline: 1rem;

    font: inherit;
    font-weight: bold;

    translate: 0 calc(-1px - 1rem);

    background: #979b9d;
	text-shadow: 0 .1em .2em black;
	border-bottom: 1px solid;
	border-bottom-color: inherit;
    display: block;
    color: white;
    padding-block: 0.25rem;
    font-family: var(--main-font), sans-serif;
}

#dialog.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(150%);
    background: #f2f4f6;
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid #979b9d;
    min-width: 35rem;
    margin: auto;
    z-index: 1000;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.2rem);
}

#modal-container:not(:has(#dialog > .titlebar)) {
    display: none;
}

#dialog .button-group:not(#specificity-hack) {
    margin-top: 1rem;
    width: fit-content;
    margin-inline: auto;
}

#dialog button {
    padding: 0;
    font-size: .8rem;
    line-height: 1.125rem;
    background: #d1d6d8;
    border: 1px solid #3a3a37;
    box-shadow: 0 2px 4px -2px #121210;
    border-radius: .2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    outline: none;
}

#dialog button:hover {
    filter: brightness(1.1);
    box-shadow: 0 3px 6px -2px #121210;
    text-decoration: none;
}

#dialog form {
    margin-top: 1rem;
}

select:not([multiple]) {
    height: 1.5rem;
    line-height: 1.5rem;
    padding-block: 0;
    padding-inline: 0.5rem;
}

select[multiple] {
    min-width: 9rem;
}

input {
    height: 1.5rem;
    line-height: 1.5rem;
    padding-block: 0;
    padding-inline: 0.5rem;
}

input[type=checkbox] {
    width: 1.25rem;
    vertical-align: middle;
    margin: 0;
}

label {
    margin-block: 0.5rem;
}

button.danger:not(#specificity-hack) {
    background: #9C1A1C;
    color: white;
}

button.green {
    background-color: #bedfb8;
}

.selection-thumbnail {
    display: block;
    width: 12rem;
    height: 13rem;
    border: 3px solid darkgrey;
    border-radius: .5rem;
    text-align: center;
    background: darkgrey;
    overflow: clip;
}

.selection-thumbnail svg {
    width: 10rem;
    height: 10rem;
    color: #666666;
}

.selection-thumbnail img {
    max-width: 12rem;
    max-height: 10rem;
    height: auto;
    width: auto;
    margin-inline: auto;
}

.selection-thumbnail div {
    background: #f2f4f6;
    height: 100%;
    width: 100%;
    overflow-wrap: anywhere;
    margin-top: auto;
    margin-bottom: 0;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
}

.selection-thumbnail.selected {
    box-shadow: 0px 0px 15px 1px #228be6;
}

.selection-thumbnail:hover {
    box-shadow: 0px 0px 15px 1px #48c057;
}

.selection-thumbnail-area {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-height: 30rem;
    max-width: 53rem;
    overflow: scroll;
    margin-inline: -1rem;
    padding: 1rem;
}

.element-form-box:has(.selection-thumbnail-area):not(#specificity-hack) {
    margin: 0;
}
