{% extends 'editor/snippets/hx-simple_create_form.html' %}
{% block action %}
    {% url 'new-segment' %}
{% endblock %}
{% block all_fields %}
    <input type="hidden" name="show" _="on load set my @value to @data-show-pk of #view-container">
    <input type="hidden" name="order" _="on load set my @value to @data-next-segment-order of #view-container">
    <label class="block">Name: {{ form.name }}</label>
    {{ form.errors }}
{% endblock %}
{% block submit_button %}
    <button
            type="submit"
            hx-post="{% url 'new-segment' %}"
            hx-swap="morph:outerHTML"
            hx-select="#view-container"
            hx-target="#view-container"
            hx-push-url="true"
    >
        Submit
    </button>
{% endblock %}
