body {
    --display-size-divisor: 10
}

.slide-thumbnail .slide {
    min-width: 1920px;
    width: 1920px;
    min-height: 1080px;
    transform: scale(calc(1 / var(--display-size-divisor)));
    margin-right: calc(-1920px / var(--display-size-divisor));
    margin-bottom: calc(-1080px / var(--display-size-divisor));
    margin-left: calc(calc(100% - calc(1920px / var(--display-size-divisor))) / 2);
    transform-origin: left top;
    background: black;
    align-self: center;
    pointer-events: none;
}

.slide-thumbnail {
    max-width: calc(1920px / var(--display-size-divisor));
    max-height: calc(1080px / var(--display-size-divisor));
    overflow: hidden;
    /*margin: 0.5rem;*/
    outline: 1px solid var(--faded-fg);
    border-radius: var(--border-radius);
}

.slide-thumbnail:hover:not(.no-hover) {
    box-shadow: 0px 0px 15px 1px var(--ok-graphical-fg);
}

.slide-thumbnail form {
    padding: 0;
    margin: 0;
}