{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="{% static 'js/sse.js' %}"></script>
    <script src="{% static 'js/hyperscript.js' %}"></script>
    <script src="{% static 'js/idiomorph-ext.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OpenShow Editor</title>
    <link rel="stylesheet" href="{% static 'slides/widgets.css' %}">
    {% block additional_css %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>