{% extends 'core/base.html' %}

{% load static %}
{% load icon %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <link rel="stylesheet" href="{% static 'slides/presenter-view.css' %}">
{% endblock %}

{% block header %}
    <h1>{{ deck.name }}</h1>
{% endblock %}

{% block title %}{{ deck.name }} - OpenShow{% endblock %}

{% block header_right_button %}
    <a href="{% url 'edit-deck' deck.pk %}" class="icon-button" aria-label="Edit {{ deck.name }}">{% icon 'edit-2' %}</a>
{% endblock %}

{% block main %}
    <div id="view-container" class="sidebar-layout double">
        <div id="shows-sidebar" class="mobile-hidden box">
            <ul>
                {% for deck in decks %}
                    <li>
                        <a href="{% url 'deck' deck.pk %}">{{ deck.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="show-container">
        <div id="show" class="presentation" data-deck-pk="{{ deck.pk }}">
            <ul>
                <li>
                    <ul>
                        {% for slide in deck.slides.all %}
                            <li class="deck-slide {% if slide == show.displays.first.current_slide %}selected{% endif %}" id="slide-{{ slide.pk }}" data-slide-pk="{{ slide.pk }}">
                                {% if slide.cue %}
                                    <p>
                                        {{ slide.cue }}
                                    </p>
                                {% endif %}
                                {% include 'slides/deck-slide-thumbnail.html' %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        </div>
        <div id="show-controls" class="mobile-hidden">
            <div id="forward-reverse">
                <button class="icon-button" _="
                on click
                for display_checkbox in <input.display-checkbox:checked/>
                    set display_pk to display_checkbox's @data-display-pk
                    then log display_pk
                    set req_body to `{\&quot;display_pk&quot;: $display_pk, &quot;direction&quot;: &quot;reverse&quot;}`
                    log req_body
                    then fetch {% url "api-1.0.0:next_slide" %} with method:'POST', body: req_body
                    then halt
">{% icon 'chevron-left' %}</button>
                <button class="icon-button" _="
                on click
                for display_checkbox in <input.display-checkbox:checked/>
                    set display_pk to display_checkbox's @data-display-pk
                    then log display_pk
                    set req_body to `{\&quot;display_pk&quot;: $display_pk, &quot;direction&quot;: &quot;forward&quot;}`
                    log req_body
                    then fetch {% url "api-1.0.0:next_slide" %} with method:'POST', body: req_body
                    then halt
">{% icon 'chevron-right' %}</button>
            </div>
            <button class="iconbutton" id="settings-toggle" _="on click toggle .expand on next <.settings/>">{% icon 'settings' %}</button>
            <div class="settings box expand">
                <div id="display-selector">
                    <div>Displays:
                        <ul>
                            {% for display in display_list %}
                                <li>
                                    <label>{{ display }}
                                        <input class="display-checkbox" type="checkbox" data-display-pk="{{ display.pk }}" class="display-checkbox">
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        Clear:
                        <ul>
                            {% for display in display_list %}
                                <button hx-get="{% url 'clear-slide' display.pk %}" hx-swap="none">Clear {{ display.name }}</button>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box mobile-tab-controls">
            <button class="icon-button mobile-hidden" id="shows-sidebar-button" _="on click add .mobile-hidden to <#view-container > :not(.mobile-tab-controls):not(navbar), .mobile-tab-controls > */> then remove .mobile-hidden from <#shows-sidebar, #shows-sidebar-button/>">{% icon 'menu' %}</button>
            <button class="icon-button" id="show-button" _="on click add .mobile-hidden to <#view-container > :not(.mobile-tab-controls):not(navbar), .mobile-tab-controls > */> then remove .mobile-hidden from <#show-container, #show-button/>">{% icon 'monitor' %}</button>
            <button class="icon-button mobile-hidden" id="show-controls-button" _="on click add .mobile-hidden to <#view-container > :not(.mobile-tab-controls):not(navbar), .mobile-tab-controls > */> then remove .mobile-hidden from <#show-controls, #show-controls-button/>">{% icon 'play' %}</button>
        </div>
    </div>
{% endblock %}