{% load static %}

<head id="head">
    <title>OpenShow Display {{ display.pk }}</title>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13/dist/_hyperscript.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13/dist/eventsource.js"></script>
    <style id="slide-style" _="on 'grab-theme' fetch {% url 'display-style' display.pk %} then put it into me">
        {{ display.current_theme.css|safe }}
        {{ display.custom_css|safe }}
    </style>
    <style id="transition">

    </style>
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    {% if not thumbnail %}
        <script type="text/hyperscript">
            def getTransition
                fetch {% url 'display-transition' display.pk %}
                put it into #transition
            end
            eventsource DisplayEvents from /events
                on display-{{ display.pk }}-slide
                    getTransition()
                    send "grab-slide" to #slide-grabber
                end
                on display-{{ display.pk }}-theme
                    getTransition()
                    make a <div.slide/>
                    put it at end of body
                    wait for unlatch from body
                    send "grab-theme" to #slide-style
                    send "grab-slide" to #slide-grabber
                end
                on display-{{ display.pk }}-clear
                    getTransition()
                    make a <div.slide/>
                    put it at end of body
                end
            end
            on animationend remove <.slide:not(:last-child)/> then send unlatch
        </script>
    {% endif %}
</head>


<span id="slide-grabber" hx-get="{% url 'display' display.pk %}" hx-trigger="grab-slide" hx-select="#slide" hx-target="body" hx-swap="beforeend"></span>

<body hx-ext="sse" sse-connect="/events" class="slide-body">
    <div class="slide" id="slide" {% if not display.current_slide.transition %}_="on load send animationend"{% endif %}>
        {% if display.current_slide.auto_advance %}
            {% if display.current_show %}
                <form action="{% url 'show-slide' %}" method="POST" hx-trigger="load delay:{{ display.current_slide.auto_advance_duration }}s, ended from:video" hx-post="{% url "show-slide" %}" hx-swap="none">
                    {% csrf_token %}
                    <input type="hidden" name="show_pk" value="{{ display.current_show.pk }}">
                    <input type="hidden" name="direction" value="forward">
                </form>
            {% elif display.current_deck %}
                {# TODO: Fully unify deck and show auto advance. This should likely be fully redesigned. For now, deck auto advance works. #}
                <script type="text/hyperscript">
                    on load
                        wait {{ display.current_slide.auto_advance_duration }}s
                        then advanceSlide()
                    def advanceSlide
                        set req_body to `{"display_pk": {{ display.pk }}, "direction": "forward"}`
                        log req_body
                        then fetch {% url "api-1.0.0:next_slide" %} with method:'POST', body: req_body
                        then halt
                </script>
            {% endif %}
        {% endif %}
        {% for element in display.current_slide.get_elements %}
            <div class="{{ element.css_class }}">
                {{ element.body|safe }}
                {% if element.image %}
                    <img src="{{ element.image.url }}">
                {% endif %}
                {% if element.image_object %}
                    <img src="{{ element.image_object.file.url }}">
                {% endif %}
                {% if element.video %}
                    <video autoplay name="media" _="on load js(me, me) me.play() end">
                        <source src="{{ element.video.url }}">
                    </video>
                {% endif %}
                {% if element.media_object %}
                    {% include element.media_object.get_slide_element_template with media_object=element.media_object %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
