{% extends 'slides/base.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'editor/index.css' %}">
    <link rel="stylesheet" href="{% static 'editor/common.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>OpenShow Slides</h1>
        <div class="buttons-right">
            <a href="{% url 'editor_index' %}">
                <button>
                    Show Editor
                </button>
            </a>
        </div>
    </header>
    <div>
        <h2>Shows</h2>
        <ul>
            {% for show in show_list %}
                <li>
                    <a href="{% url 'show' show.pk %}">{{ show.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Decks</h2>
        <ul>
            {% for deck in deck_list %}
                <li>
                    <a href="{% url 'deck' deck.pk %}">{{ deck.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}