{% extends 'core/base.html' %}
{% load static %}
{% load icon %}

{% block extra_js %}
    {{ block.super }}
    <script type="module" src="{% static 'js/tabs.js' %}"></script>
{% endblock %}

{% block title %}OpenShow Slides{% endblock %}

{% block header %}
    <h1>OpenShow Slides</h1>
{% endblock %}

{% block content %}
    <div role="tablist" aria-label="Select shows or decks to browse">
        <button role="tab" aria-controls="shows" {% if selected_tab == 'shows' %}aria-selected="true"{% endif %}>
            Shows
        </button>
        <button role="tab" aria-controls="decks" {% if selected_tab == 'decks' %}aria-selected="true"{% endif %}>
            Decks
        </button>
        <button role="tab" aria-controls="themes" {% if selected_tab == 'themes' %}aria-selected="true"{% endif %}>
            Themes
        </button>
        <button role="tab" aria-controls="displays" {% if selected_tab == 'displays' %}aria-selected="true"{% endif %}>
            Displays
        </button>
        <button role="tab" aria-controls="transitions" {% if selected_tab == 'transitions' %}aria-selected="true"{% endif %}>
            Transitions
        </button>
        <button role="tab" aria-controls="mediaobjects" {% if selected_tab == 'mediaobjects' %}aria-selected="true"{% endif %}>
            Media Objects
        </button>
        <button role="tab" aria-controls="images" {% if selected_tab == 'images' %}aria-selected="true"{% endif %}>
            Images
        </button>
        <button role="tab" aria-controls="remote_sources" {% if selected_tab == 'remote_sources' %}aria-selected="true"{% endif %}>
            Remote Sources
        </button>
    </div>
    <div id="shows" role="tabpanel" hidden>
        <h2>Shows</h2>
        <p>
            Shows are collections of slides which show up in the "presentation" view, and can be pushed to displays.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'new-show' %}" hx-swap="outerHTML">
                New Show
            </button>
            <button hx-get="{% url 'show-import-json' %}" hx-swap="outerHTML">
                Import Show from JSON
            </button>
            {% for remote_source in remote_source_list %}
                {% if remote_source.shows_url %}
                    <button hx-get="{% url 'remotesource-import-show' pk=remote_source.pk %}" hx-swap="outerHTML">
                        Import Show from {{ remote_source.name }}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
        <ul>
            {% for show in show_list %}
                <li>
                    <a href="{% url 'show' show.pk %}">{{ show }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="decks" role="tabpanel" hidden>
        <h2>Decks</h2>
        <p>
            Decks are small, reusable collections of slides, which can be linked to segments in Shows.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'new-deck' %}" hx-swap="outerHTML">
                New Deck
            </button>
            <button hx-get="{% url 'import-deck-from-images' %}" hx-swap="outerHTML">
                Import Images
            </button>
        </div>
        <ul>
            {% for deck in deck_list %}
                <li>
                    <a href="{% url 'deck' deck.pk %}">{{ deck }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="themes" role="tabpanel" hidden>
        <h2>Themes</h2>
        <p>
            Themes are styles which can be applied for shows, decks, or individual slides.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'new-theme' %}" hx-swap="outerHTML">
                New Theme
            </button>
        </div>
        <ul>
            {% for theme in theme_list %}
                <li>
                    <a href="{% url 'edit-theme' theme.pk %}">{{ theme }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="displays" role="tabpanel" hidden>
        <h2>Displays</h2>
        <p>
            Displays can be configured to have the correct resolution, and set custom CSS.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'new-display' %}" hx-swap="outerHTML">
                New Display
            </button>
        </div>
        <ul>
            {% for display in display_list %}
                <li>
                    <a href="{% url 'display-detail' display.pk %}">{{ display }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="transitions" role="tabpanel" hidden>
        <h2>Transitions</h2>
        <p>
            CSS keyframes to define the transition from one slide to the next.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'new-transition' %}" hx-swap="outerHTML">
                New Transition
            </button>
        </div>
        <ul>
            {% for transition in transition_list %}
                <li>
                    <a href="{% url 'edit-transition' transition.pk %}">{{ transition }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="mediaobjects" role="tabpanel" hidden>
        <h2>Media Objects</h2>
        <p>
            Media (video, audio, or embedded content) which can be added to slide elements.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'mediaobject-create' %}" hx-swap="outerHTML" hx-select="#mediaobject_form_container">
                New Media Object
            </button>
        </div>
        <ul>
            {% for mediaobject in mediaobject_list %}
                <li>
                    <a href="{% url 'mediaobject-detail' mediaobject.pk %}">{{ mediaobject }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="images" role="tabpanel" hidden>
        <h2>Images</h2>
        <p>
            Images which can be added to slide elements.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'image-create' %}" hx-swap="outerHTML" hx-select="#image_form_container">
                New Image
            </button>
        </div>
        <ul>
            {% for image in image_list %}
                <li>
                    <a href="{% url 'image-detail' image.pk %}">{{ image }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
        <div id="remote_sources" role="tabpanel" hidden>
        <h2>Remote Sources</h2>
        <p>
            Remote sources which publish reusable OpenShow content.
        </p>
        <div class="action-button-container">
            <button hx-get="{% url 'remotesource-create' %}" hx-swap="outerHTML" hx-select="#remote_source-form-container">
                New Remote Source
            </button>
        </div>
        <ul>
            {% for remote_source in remote_source_list %}
                <li>
                    <a href="{% url 'remotesource-detail' remote_source.pk %}">{{ remote_source }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}