{% extends 'editor/base.html' %}

{% load static %}
{% load icon %}

{% block additional_css %}
    <style>
        {{ show.theme.css }}
    </style>
    <link rel="stylesheet" href="{% static 'slides/slide.css' %}">
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <link rel="stylesheet" href="{% static 'slides/presenter-view.css' %}">
{% endblock %}

{% block content %}
    <navbar class="navbar">
        <a href="{% url 'index' %}"><button>{% icon 'arrow-left' %}</button></a>
        <h1>{{ show.name }}</h1>
    </navbar>
    <div id="shows-sidebar" class="mobile-hidden">
        <ul>
            {% for show in shows %}
                <a href="{% url 'show' show.pk %}">
                    <li>
                        <h2>{{ show.name }}</h2>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
    <div id="show-container">
    <div id="show" class="presentation" data-show-pk="{{ show.pk }}" data-next-segment-order="{{ show.next_segment_order }}">
        <h1>{{ show.name }}</h1>
        <ul>
            {% for segment in show.segments.all %}
                <li>
                    <h2>{{ segment.name }}</h2>
                    {% if segment.included_deck %}
                        <h3>{{ segment.included_deck.name }}</h3>
                        <ul>
                            {% for slide in segment.included_deck.slides.all %}
                                <li {% if slide == show.displays.first.current_slide %}class="selected"{% endif %} id="slide-{{ slide.pk }}" data-slide-pk="{{ slide.pk }}">
                                    {% include 'slides/slide-thumbnail.html' %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <ul>
                        {% for slide in segment.slides.all %}
                            <li {% if slide == show.displays.first.current_slide %}class="selected"{% endif %} id="slide-{{ slide.pk }}" data-slide-pk="{{ slide.pk }}">
                                {% include 'slides/slide-thumbnail.html' %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div id="show-controls" class="mobile-hidden">
        <div id="forward-reverse">
            <form action="{% url 'show-slide' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="show_pk" value="{{ show.pk }}">
                <input type="hidden" name="direction" value="reverse">
                <button class="icon-button" hx-post="{% url 'show-slide' %}" hx-swap="innerHTML" hx-target="#show-container" hx-select="#show">{% icon 'chevron-left' %}</button>
            </form>
            <form action="{% url 'show-slide' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="show_pk" value="{{ show.pk }}">
                <input type="hidden" name="direction" value="forward">
                <button class="icon-button" hx-post="{% url 'show-slide' %}" hx-swap="innerHTML" hx-target="#show-container" hx-select="#show">{% icon 'chevron-right' %}</button>
            </form>
        </div>
        <button class="icon-button" id="settings-toggle" _="on click toggle .expand on next <.settings/>">{% icon 'settings' %}</button>
        <div class="settings">
            <form action="{% url 'advance-mode' show.pk %}">
                {% csrf_token %}
                <div class="checkbox-row">
                    <input type="checkbox" name="advance_between_segments" hx-post="{% url 'advance-mode' show.pk %}" hx-swap="none" hx-trigger="change" {% if show.advance_between_segments %}checked{% endif %}>
                    <label>Advance between decks</label>
                </div>
            </form>
        </div>
        <div class="slide-thumbnail">
            {% if show.displays %}
                <iframe class="slide" src="{% url 'display' show.displays.all.first.pk %}"></iframe>
            {% endif %}
        </div>
    </div>
    <div class="mobile-tab-controls">
        <button class="icon-button mobile-hidden" id="shows-sidebar-button" _="on click add .mobile-hidden to <body > :not(.mobile-tab-controls), .mobile-tab-controls > */> then remove .mobile-hidden from <#shows-sidebar, #shows-sidebar-button/>">{% icon 'menu' %}</button>
        <button class="icon-button" id="show-button" _="on click add .mobile-hidden to <body > :not(.mobile-tab-controls), .mobile-tab-controls > */> then remove .mobile-hidden from <#show-container, #show-button/>">{% icon 'monitor' %}</button>
        <button class="icon-button mobile-hidden" id="show-controls-button" _="on click add .mobile-hidden to <body > :not(.mobile-tab-controls), .mobile-tab-controls > */> then remove .mobile-hidden from <#show-controls, #show-controls-button/>">{% icon 'play' %}</button>
    </div>
{% endblock %}