{#Custom CSS for the slide#}
{#<style id="slide-style" hx-swap-oob="outerHTML:#slide-style">#}
{#    {{ slide.segment.show.theme.css }}#}
{#    {{ slide.segment.deck.theme.css }}#}
{#    {{ slide.theme.css }}#}
{#</style>#}
{# The slide itself #}
<div id="slide" class="slide">
    {% for element in slide.get_elements %}
        <div class="{{ element.css_class }}">
            {{ element.body|safe }}
            {% if element.image_object %}
                <img src="{{ element.image_object.file.url }}">
            {% endif %}
        </div>
    {% endfor %}
</div>