<div class="slide-thumbnail">
    <form method="post" action="{% url 'show-slide' %}">
        {% csrf_token%}
        <input type="hidden" name="slide_pk" value="{{ slide.pk }}">
        <input type="hidden" name="show_pk" value="{{ show.pk }}">
{#        <button hx-post="{% url 'show-slide' %}" hx-swap="none">Display Slide {{ slide.pk }}</button>#}
        <div hx-post="{% url 'show-slide' %}" hx-swap="none">
            {% include 'slides/slide.html' with slide=slide %}
        </div>
    </form>
</div>