<div id="slide" class="slide">
    {% for element in slide.get_elements %}
        <div class="{{ element.css_class }}">
            {% if element.body %}{{ element.body|safe }}{% endif %}
            {% if element.image_object %}
                <img src="{{ element.image_object.file.url }}">
            {% endif %}
            {% if element.media_object and element.media_object.media_type != 'AUDIO' %}
                <img src="{{ element.media_object.thumbnail }}">
            {% endif %}
            {% if element.media_object.media_type == "AUDIO" and not element.body %}
                <img src="{{ element.media_object.thumbnail }}">
            {% endif %}
        </div>
    {% endfor %}
</div>