{% load icon %}
<span class="titlebar">Delete Element?</span>
<form method="post" action="{% url 'delete-element' object.pk %}">{% csrf_token %}
    <input type="hidden" name="slide_pk" _="on load set my @value to @data-slide-pk of <#slide/>">
    <div class="button-group">
        <button _="on click remove <#dialog > */>">
            Cancel
        </button>
        <button
            class="danger"
            hx-post="{% url 'delete-element' object.pk %}"
            hx-swap="outerHTML"
            hx-target="#slide"
            hx-select="#slide"
            _="on click remove <#dialog > */>"
        >
            Delete
        </button>
    </div>
</form>
