{% extends 'core/base.html' %}

{% load static %}
{% load icon %}

{% block title %}
    Editing {{ show.name }} - OpenShow
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'slides/slide-thumbnail.css' %}">
    <link rel="stylesheet" href="{% static 'editor/editor-extras.css' %}">
{% endblock %}

{% block header %}
    <h1>{{ show.name }}</h1>
{% endblock %}

{% block header_right_button %}
    <a href="{% url 'delete-show' show.pk %}" class="icon-button" aria-label="Edit {{ show.name }}">{% icon 'trash-2' %}</a>
{% endblock %}

{% block header_left_button %}
    <a href="{% url 'show' show.pk %}" class="icon-button" aria-label="Back to {{ show.name }}">{% icon 'arrow-left' %}</a>
{% endblock %}

{% block main %}
    <div id="view-container" class="sidebar-layout single" data-show-pk="{{ show.pk }}" data-next-segment-order="{{ show.next_segment_order }}">
        <ul
                class="slides-sidebar show"
                id="slides-sidebar"
                _="on dragend remove .slidedrag from <.slidedrag/> then remove .segmentdrag from <.segmentdrag/>"
        >
            {% for segment in show.segments.all %}
                    <form
                        class="dragbox"
                        hx-post="{% url 'reorder-segment' %}"
                        hx-swap="morph:outerHTML"
                        hx-trigger="drop"
                        hx-select="#view-container"
                        hx-target="#view-container"
                        _="
                        on dragover or dragenter call event.preventDefault() then add .dragover to me
                        on dragleave remove .dragover from me
                    ">
                        {% csrf_token %}
                        <input type="hidden" name="next_segment_pk" value="{{ segment.pk }}">
                        <input type="hidden" name="moved_segment_pk" class="movedsegment">
                    </form>
                <li
                        class="box show-segment"
                        draggable="true"
                        data-segment-pk="{{ segment.pk }}"
                        _="on dragstart
                        remove .slidedrag from <.slidedrag/>
                        then add .segmentdrag to <.slides-sidebar.show/>
                        then call event.dataTransfer.setData('text/plain',target) {# don't know why, drop event never fires unless something is set here #}
                        then set @value of <input[name='moved_segment_pk']/> to my @data-segment-pk
                        "
                >
                    <strong class="titlebar block">{{ segment.name }}</strong>
                    <a href="{% url 'edit-segment' segment.pk %}"
                            hx-get="{% url 'edit-segment' segment.pk %}"
                            hx-select="#view-container"
                            hx-target="#view-container"
                            hx-swap="morph:outerHTML swap:0.1s"
                            hx-push-url="true"
                    >Edit Segment Details</a>
                    {% if segment.details %}
                        <p class="segment-details">{{ segment.details }}</p>
                    {% endif %}
                    {% if segment.included_deck %}
                        <h4>Deck: {{ segment.included_deck.name }}</h4>
                    {% endif %}
                    <ul class="slides">
                        {% for slide in segment.slides.all %}
                            <form
                                class="dragbox"
                                hx-post="{% url 'reorder-slide' %}"
                                hx-swap="outerHTML"
                                hx-trigger="drop"
                                hx-select=".slides-sidebar"
                                hx-target=".slides-sidebar"
                                _="
                                on dragover or dragenter call event.preventDefault() then add .dragover to me
                                on dragleave remove .dragover from me
                            ">
                                {% csrf_token %}
                                <input type="hidden" name="deck_or_segment_pk" value="{{ segment.pk }}">
                                <input type="hidden" name="next_slide_pk" value="{{ slide.pk }}">
                                <input type="hidden" name="moved_slide_pk" class="movedslide">
                            </form>
                            <li
                                    class="slide-thumbnail"
                                    data-slide-pk="{{ slide.pk }}"
                                    _="on dragstart
                                    call event.stopPropagation()
                                    then remove .segmentdrag from <.segmentdrag/>
                                    then add .slidedrag to <.slides-sidebar.show/>
                                    then call event.dataTransfer.setData('text/plain',target) {# don't know why, drop event never fires unless something is set here #}
                                    then set @value of <input[name='moved_slide_pk']/> to my @data-slide-pk"
                            >
                                <a
                                        href="{% url 'edit-slide' slide.pk %}"
                                        title="Edit this slide"
                                        hx-get="{% url 'edit-slide' pk=slide.pk %}"
                                        hx-swap="morph:outerHTML"
                                        hx-select="#view-container"
                                        hx-target="#view-container"
                                        hx-push-url="true"
                                >
                                    {% include "slides/slide-thumbnail.html" with slide=slide %}
                                </a>
                            </li>
                        {% endfor %}
                        <form
                            class="dragbox"
                            hx-post="{% url 'reorder-slide' %}"
                            hx-swap="outerHTML"
                            hx-trigger="drop"
                            hx-select=".slides-sidebar"
                            hx-target=".slides-sidebar"
                            _="
                            on dragover or dragenter call event.preventDefault() then add .dragover to me
                            on dragleave remove .dragover from me
                        ">
                            {% csrf_token %}
                            <input type="hidden" name="deck_or_segment_pk" value="{{ segment.pk }}">
                            {# Don't send next_slide as this is the end #}
                            <input type="hidden" name="moved_slide_pk" class="movedslide">
                        </form>
                    </ul>
                    <form method="post" action="{% url 'new-slide' %}">
                        {% csrf_token %}
                        <input type="hidden" name="segment" value="{{ segment.pk }}">
                        <button
                                hx-post="{% url 'new-slide' %}"
                                hx-swap="morph:outerHTML"
                                hx-select="#view-container"
                                hx-target="#view-container"
                                hx-push-url="true"
                        >
                            New Slide
                        </button>
                    </form>
                </li>
            {% endfor %}
                <button class='add-button' hx-get="{% url 'new-segment' %}" hx-swap="outerHTML">
                    New Segment
                </button>
        </ul>
    {% block editor-right %}
        <div id="editor-right" class="double-box-container show" data-show-pk="{{ show.pk }}">
            <div class="box">
                <strong class="titlebar block">Theme Settings</strong>
                Current Theme: {{ show.theme }}
                <button class=block hx-get="{% url 'set-theme' show.pk %}" hx-swap="outerHTML">Set Theme</button>
            </div>
            <div class="box">
                <strong class="titlebar block">Show Settings</strong>
                <form method="post" action="{% url 'edit-show' show.pk %}">
                    {% csrf_token %}
                    <label class="block">Name: {{ form.name }}{{ form.name.errors }}</label>
                    <label class="block">Advance past ends of decks and segments: {{ form.advance_between_segments }}{{ form.advance_between_segments.errors }}</label>
                    <label class="block">Advance in a loop when reaching the end of a deck: {{ form.advance_loop }}{{ form.order.advance_loop }}</label>
                    <label class="block">Send this show to these displays: {{ form.displays }}{{ form.displays.errors }}</label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}