{% load static %}
{% load icon %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OpenShow{% endblock %}</title>
{#    <link rel="stylesheet" href="{% static 'hat/hat.css' %}"#}
    <link rel="stylesheet" href="{% static 'css/missing.css' %}">
    <link rel="stylesheet" href="{% static 'core/extras.css' %}">
    <link rel="icon" href="{% static 'favicon.svg' %}">
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="{% static 'js/hyperscript.js' %}"></script>
    <script src="{% static 'js/idiomorph.js' %}"></script>
    <script src="{% static 'js/idiomorph-ext.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block extra_js %}
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
</head>
<body hx-ext="morph">
    <header>
        <div class="header-back-button">
            {% if previous_page %}
                <a class=inline href="{% url previous_page %}">{% icon 'arrow-left' %}</a>
            {% endif %}
            {% block header_left_button %}
            {% endblock %}
        </div>
        <div class="header-main">
            {% block header %}
                <h1>OpenShow</h1>
            {% endblock %}
        </div>
        <div class="header-right-button">
            {% block header_right_button %}
            {% endblock %}
        </div>
    </header>
    {% block main %}
        <main{% block main_attrs %}{% endblock %}>
            {% block content %}
            {% endblock content %}
        </main>
    {% endblock %}
</body>
</html>