<li class="box">
    {% if action == "edit-keyframe" %}
        <strong class="titlebar block">Editing {{ object.marker }}</strong>
    {% else %}
        <strong class="titlebar block">New Keyframe</strong>
    {% endif %}
    <form class="keyframe-form" method="post" action="{% if action == "edit-keyframe" %}{% url action object.pk %}{% else %}{% url action %}{% endif %}">
        {% csrf_token %}
            {% if action == 'new-keyframe' %}
                <input type="hidden" name="transition" _="on load set my @value to @data-transition-pk of closest <ul/>">
                <input type="hidden" name="out" _="on load set my @value to @data-keyframe-out of closest <ul/>">
                <label class="block">Marker: <input type="text" name="marker" placeholder="{{ form.marker.help_text }}"></label>
                <label for="id_css">CSS:</label>
                <textarea name="css" cols="40" rows="10" required="" id="id_css" placeholder="{{ form.css.help_text }}"></textarea>
            {% else %}
                <label class="block">Marker: {{ form.marker }}</label>
                <label for="id_css">CSS:</label>
                {{ form.css }}
            {% endif %}
            {{ form.errors }}
            <input type="submit">
    </form>
</li>